html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: var(--color__background-body);
}

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color: var(--color__background-hr);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* LINKS */
a {
  color: var(--color__link);

  &:visited {
    
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--color__link-hover);
  }
  &:focus {
    outline: thin dotted;
    outline-offset: 0.25rem;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* LISTS */

ul, ol {
  margin: 0 0 0 0;
}

ul:not(.nav-menu) {
  list-style: disc;
}

ul.nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0 0;
}

/* TABLES */
table {
  margin: 0 0 0;
  width: 100%;
}