html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: var(--color__background-body);
}

blockquote, q {
  quotes: "" "";

  &:before,
  &:after {
    content: "";
  }
}

hr {
  background-color: var(--color__background-hr);
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

/* LINKS */
a {
  color: var(--color__link);

  &:visited {
    
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--color__link-hover);
  }
  &:focus {
    outline: thin dotted;
    outline-offset: 0.25rem;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* LISTS */

ul, ol {
  margin: 0 0 0 0;
}

ul {
  list-style: disc;
  padding-left: 1rem;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0 0;
}

/*
 * Table - Responsive
 */
table {
	border: 0;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;	
}

table thead {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

table tr {
	border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
	display: block;
	margin-bottom: .625rem;
	background-color: rgba(0,0,0,0.015);
}

table tfoot tr {
  margin-bottom: 0;
}

table th,
table td {
  padding: .75rem;
  text-align: right;
	font-size: 0.75rem;
}

table th {
  text-transform: uppercase;
}

table td {
	border-bottom: 1px solid #8e8e8e;
	display: block;
}

table td::before {
	/*
	* aria-label has no advantage, it won't be read inside a table
	content: attr(aria-label);
	*/
	content: attr(data-title);
	float: left;
	font-weight: bold;
	text-transform: uppercase;
}

table td:last-child {
	border-bottom: 0;
}


table .button {
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
}

table th:last-child,
table td:last-child {
	text-align: right;
}

table tfoot th { display: none; }

@media screen and (min-width: 992px) {
	table {
		border: 1px solid #8e8e8e;		
	}
	table tr {
		border: 1px solid #8e8e8e;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;    
		padding: .35rem;	
		margin-bottom: 0;	
		display: table-row;
		background-color: transparent;
	}	
	table td,
	table th {
		display: table-cell;
		text-align: left;
    padding: 1rem;
	}
  table td:last-child {
    border-bottom: 1px solid #8e8e8e;
  }  
	table td::before {
		display: none;
	}
	table thead {
		width: auto;
		height: auto;
		margin: auto;
		position: static;
		overflow: visible;
	}  
  table tfoot th { display: table-cell; }
}