.stroke-current {
  stroke: currentColor;
}

.list-reset {
  list-style: none;
  padding: 0;  
}

.u-breakout {
  margin-left:   calc(50% - 50vw);
  margin-right:  calc(50% - 50vw);
  padding-left:  calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}