.woo-selected-variation-item-name {
  display: none;
}

@supports (display: grid){
  .v-product {
    .variations {
      .variable-items-wrapper {
        gap: 1rem;
        .variable-item {
          margin: 0 !important;
        }
      }
    }
  }
}

.v-product {

  // Variations
  // 
  .variations {

    font-size: 0.875rem;

    .variable-items-wrapper {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      .variable-item {
        display: inline-block;
        cursor: pointer;
        list-style: none;
        margin-right: 0.5rem;
        &:last-child { margin-right: 0; }
      }
    }    

    // Image Variation
    .image-variable-wrapper {
      .variable-item:not(.radio-variable-item) {
        width: auto;
        height: auto;
        font-size: 0.5rem;
        &.selected {
          box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px black;        
        }
      }
    }

    // Button Variation (Radio)
    .button-variable-wrapper {

      .variable-item {

        &.selected {
          box-shadow: 0 0 0 0 !important;
          border-radius: 0 0 0 0 !important;             
          .variable-item-contents {
            &::after {    
              opacity: 1;
              visibility: visible;
            }
          }
          .variable-item-span {
            text-shadow: 1px 0 0px black;            
          }
        }
      }
      .variable-item-contents {  
        display: block !important;
        position: relative;
        padding-left: 1em;   
        line-height: 1;

        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          content: '';
          width: 0.8em;
          height: 0.8em;
          background-color: var(--color__grey-light);
        }
        &::after {
          opacity: 0;
          visibility: hidden;
          left: 0.15em;
          width: 0.5em;
          height: 0.5em;
          background-color: var(--color__black-light);
        }
      } 
    }

  }

  .woocommerce-variation.single_variation { 
    display: none !important; // nur wenn plugin woo-variation-swatches
  }

  .single_variation_wrap {
    .woocommerce-variation-add-to-cart {
      .quantity { display: none !important; }
    }
  }

  // Price Stuff
  //
  p.price p { display: inline; }
  .summary {
    .variations + p.price {
      min-height: 1em;

      font-weight: bold;
      margin-bottom: -1.5rem;
    }

    form.cart.variations_form + .legal-price-info  {
      margin-top: -1.5rem;
    } 

    .variations + p.price,
    form.cart.variations_form + .legal-price-info {
      width: 50%;
      font-size: 0.75rem;
    }

    .wc-gzd-additional-info {
      font-size: 0.9em; 
    }

  }

  .summary .product_meta {
    margin-top: 2rem !important;
  }

  a.added_to_cart.wc-forward {
    display: none !important;
  }

}