// Off Canvas Cart
//
.c-cart {
  transition: transform .5s $cubic__default;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255,255,255,0.75);
		opacity: 0;
		visibility: hidden;
		transition: all .3s $cubic__default;
		z-index: 800;
	}
	&.is-open {
    transform: translateX(0) !important;
  }
	&.is-loading {
		&::before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.woocommerce-mini-cart {
	list-style: none;
	padding: 0;
	margin: 0;

	.js--cart-qty-change-btn,
	.js--cart-qty-change-input {
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.3;
		}
	}
}

.woocommerce-mini-cart-item {
	position: relative;
}

.woocommerce-mini-cart-item a.remove {
	position: absolute;
	right: 0;
	height: 1.5rem;
	width: 1.5rem;
	margin-top: -0.75rem;
	text-align: center;
	text-decoration: none;
	top: 50%;
}

.woocommerce-mini-cart-item > a:not(.remove) {
	width: 100%;
	display: flex;
	align-items: center;
	padding-right: 1.75rem;
	text-decoration: none;
	font-size: 85%;
	font-weight: bold;
}

.woocommerce-mini-cart-item .attachment-woocommerce_thumbnail {
	width: 35%;
	margin-right: 1rem
}

.woocommerce-mini-cart-item .variation {
	display: none;
}

.woocommerce-mini-cart-item .quantity {
	display: block;
	text-align: right;
	padding-right: 2rem;
	font-size: 85%;
	margin-top: -1.5em;
}

.widget_shopping_cart_content {
	.woocommerce-mini-cart__total {
		border-top: 1px solid var(--color__grey);
		padding-top: 0.5rem;
	}
	.total-cart-tax {
		border-bottom: 1px solid var(--color__grey);
		padding-bottom: 0.5rem;
	}
}

.woocommerce-mini-cart__buttons {
	a {
		padding: 0.5rem 1rem;
		background-color: black;
		color: white;
		text-decoration: none;
	}
}

// Warenkorb Seite
//
