.c-box {
  position: relative; 
  z-index: 1;
  --c-box__bg: var(--color__blue-2);
}

.c-box__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.c-box__content {
  position: relative;
}

.c-box__header {
  position: relative;
  > * { 
    position: relative; 
    z-index: 1;
  }
  &::before {
    content: '';
    background-color: var(--c-box__bg);
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.c-box__body,
.c-box__footer {
  background-color: var(--c-box__bg);
}

.c-box__hover-indicator {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem !important;
  position: absolute;
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform .3s ease-in-out;
  left: 50%;
  margin-left: -1rem;
  bottom: -1.33rem;
  border-radius: 50%;
  background-color: var(--color__white);
  svg {
    fill: var(--c-box__bg);
  }
}

.c-box__figure .c-box__img {
	transform-origin: 50% 50%;	
	transform: scale(1) rotate(0deg);
	transition: transform .5s cubic-bezier(0, 0.55, 0.45, 1);
}

.c-box__header::before {
	transform-origin: 50% 100%;
	transform: scaleY(1);
	bottom: -1px;
	transition: transform .5s cubic-bezier(0, 0.55, 0.45, 1);
}

.c-box:hover {
  .c-box__hover-indicator {
    transition-delay: .1s;
    transform: scale(1);
  }    
  .c-box__figure .c-box__img {
    transition-duration: 2s;	
    transform: scale(1.05) rotate(1deg);
  }  
  .c-box__header::before {
    transition-duration: 2s;	
    transform: scaleY(1.3);
  }      
}