.c-post-list__item {
  &:first-child{ margin-top: 0; }
}

.c-post-list {

}

.c-post-list--list {

}


.c-post-list__col {
  &:nth-child(even) {
    @media (min-width: $break__medium) {
      float: right;
    }
  }
  &:nth-child(odd) {
    @media (min-width: $break__medium) {
      float: left;
    }
  }    
}