.js .c-section--header .c-section__content-header {
  &:after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 1s .35s cubic-bezier(.16,.69,.01,1.05);
  }    
  &.text-center {
    &:after {
      transform-origin: 50% 50%;
    }
  }
  &.text-right {
    &:after {
      transform-origin: 100% 50%;
    }
  }  
}

.js .c-section--header.is-in-view .c-section__content-header {
  &:after {
    transform: scaleX(1);
  }
}