.js--anim-header * {
  will-change: transform;
}
.js--anim-content,
.js--anim-footer {
  will-change: opacity, transform;
}

.js--viewport[data-animation="fadeIn"]{
  will-change: opacity;
}
.js--viewport[data-animation="fadeInUp"],
.js--viewport[data-animation="fadeInDown"],
.js--viewport[data-animation="fadeInLeft"],
.js--viewport[data-animation="fadeInRight"]{
  will-change: opacity, transform;
}

@import "_micro-interactions";