// Hover on Post Preview
.c-post-list__item-excerpt {
  opacity: 0.8;
  transition: opacity .3s $cubic__default;
}

.c-post-list__item {
  &:hover {
    .c-post-list__item-excerpt {
      opacity: 1;
    }
  }
}

// Hover Category
.c-post-list__item-category {
  transition: all .3s $cubic__default;
}

.c-post-list .entry-title-sm a {
  position: relative;
  display: block;
  transition: all .3s $cubic__default;
  &:hover {
    color: var(--color__primary);
  }

}

// Hover on Form
//
.c-newsletter-signup__input-wrapper {
  button {
    overflow: hidden;
  }
  input[type="email"] {
    opacity: 0.8;
    transition: 0.5s $cubic__default;
  }
  &:hover {
    button svg {
      animation: a-input-arrow 1s $cubic__default;
    }
    input[type="email"] {
      opacity: 1;
    }
  }
}

@keyframes a-input-arrow {
  0% { transform: translateX(0%) }
  50% { transform: translateX(200%) }
  50.00001% { transform: translateX(-200%) }
  100% { transform: translateX(0%) }
}