/* POSTS AND PAGES */
.sticky {
  display: block;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.c-columns { 
  @media(min-width: $break__medium){
    column-count: 2;
    column-gap: 2rem;
  }
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* COMMENTS */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
