#site,
.site__inner {
  max-width: 100%;
}

#site {
  @media (max-width: $break__medium){
    overflow: hidden;
  }
}

#site__body {
  min-height: 100vh;
  overflow-x: hidden;
}

.site__inner { 
  background-color: var(--color__background-body); 
  & + .site__inner {
    // position: absolute;
    // top: 0;
  }
}

.scroll-content {
  will-change: transform;
}