.site__navigation {
  --nav__icon-size--sm: 2rem;
  --nav__icon-size--lg: 2.25rem;
  --nav__toggle-size--sm: 2.75rem;
  --nav__contact-size--md: 13rem;
  --nav__contact-size--lg: 15rem;
}

.site__navigation-main,
.site__navigation-user,
.site__navigation-toggle {
  z-index: 999998;
}

.site__navigation-main {
  position: fixed;
  left: 0rem;
  top: 0rem;
  
  height: 100vh;
  width: 100vw;
  background-color: white;

  transform: translateX(100%);
  transition: transform .4s $cubic__default;

  display: flex;
  align-items: center;

  > ul.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    li {
      width: 100%;
      text-align: center;
    }
  }

  .menu-item {
    font-size: 1.25rem;
    a {
      display: block;
      text-decoration: none;
      font-weight: bold;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .site__navigation.is-open & {
    transform: translateX(0%);
  }

  @media (min-width: $break__medium) {
    background-color: transparent;
    width: auto;
    height: auto;
    left: 4rem;
    top: 2rem;  
    mix-blend-mode: difference;
    color: white;
    transform: unset;

    > ul.nav-menu {
      display: flex;
      width: auto;
      flex-wrap: nowrap;
      li {
        width: auto;
        text-align: left;
        & + li {
          margin-left: 1rem;
        }
      }
    } 
    
    .menu-item {
      font-size: 0.75rem;
      a {
        text-decoration: none;
        font-weight: bold;
        padding-top: 0rem;
        padding-bottom: 0rem;  
        position: relative;      
        &::after {
          content: '';
          transform: scaleX(0);
          position: absolute;
          transition: transform .15s ease-in-out;
          height: 2px;
          left: 0;          
          bottom: -2px;
          width: 100%;
          background-color: currentColor;
        }
      }
      &.current-menu-item {
        a::after {
          transform: scaleX(1);
        }
      }
    }    
  }
}

.site__navigation-user {
  position: fixed;
  top: 1.5rem;
  right: 4rem;
  @media (min-width: $break__medium) {
    right: 4rem;
    top: 2rem;

    mix-blend-mode: difference;
    color: white;
    svg {
      [stroke="black"],
      [stroke="#000"]{ stroke: #FFF }
      path[fill-rule="evenodd"]{ fill: white; }
    }    
  }
}

.site__navigation-toggle {
  display: block;
  background-color: transparent !important;
  border: none;
  border-radius: 0 0 0 0;
  font-size: 1rem;
  color: transparent;
  padding: 0rem;
  overflow: hidden;
  position: fixed;

  right: 0.75rem;
  top: 0.9rem;

  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  
  svg path {

  }

  &[aria-expanded="true"]{
    svg {
      path[fill="#FFFFFF"] {
        fill: var(--color__white-full) !important;  
      }
      circle[stroke="#FFFFFF"] {
        stroke: var(--color__white-full) !important;
      }
    }
  }

  width: var(--nav__toggle-size--sm);
  height: var(--nav__toggle-size--sm);

  @media (min-width: $break__medium) {
    display: none !important;
  }

  > svg {
    width: inherit;
    height: inherit;
  }
}



.site__navigation-contact {
  width: var(--nav__contact-size--lg);
}

.site__navigation-user {
  
}

/**
 * Animations
 */
.site__navigation-main ul.nav-menu {
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(0px); 
  // transition: backdrop-filter .75s .05s $animation-easing, opacity .05s .75s, visibility .05s .75s;
  transition: opacity .05s .5s, visibility .05s .5s;

  &::before {
    transform: translateX(100%);
    transition: transform .5s .05s $animation-easing;
  } 

  li {
    transform: translateY(50%);    
    opacity: 0;
    visibility: hidden;
    transition: transform .4s $animation-easing, visibility .4s $animation-easing, opacity .4s $animation-easing;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8){ transition-delay: 0s; }
    @media (min-width: $break__medium) {
      transform: none;
      opacity: 1;
      visibility: visible;
      transition: none;
    }
  }

  @media (min-width: $break__medium) {
    transition: none;
    opacity: 1;
    visibility: visible;
  }
}

.site__navigation.is-open > .site__navigation-main ul.nav-menu {
  opacity: 1;
  visibility: visible;
  transition: opacity .05s 0s, visibility .05s 0s;

  &::before {
    transform: translateX(0%);
    transition: transform .5s .05s $animation-easing;    
  } 
  
  li {
    transform: translateY(0%);    
    opacity: 1;
    visibility: visible;
    transition: transform .4s $animation-easing, visibility .4s $animation-easing, opacity .4s .6s $animation-easing;
    &:nth-child(1) { transition-delay: 0.25s; }
    &:nth-child(2) { transition-delay: 0.35s; }
    &:nth-child(3) { transition-delay: 0.45s; }
    &:nth-child(4) { transition-delay: 0.55s; }
    &:nth-child(5) { transition-delay: 0.65s; }
    &:nth-child(6) { transition-delay: 0.75s; }
    &:nth-child(7) { transition-delay: 0.85s; }
    &:nth-child(8) { transition-delay: 0.95s; }    
  }  
}

.site__navigation.is-open > .site__navigation-social {
  svg {
    fill: white !important;
    path {
      fill: white !important;
    }
  }
}