@font-face {
    font-family: 'Raisonne Pro';
    src: url('raisonne-regular-pro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raisonne Pro';
    src: url('raisonne-demibold-pro.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}